In [12]:
# Importing Libraries/Dependencies
import selenium
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')

In [15]:
driver = webdriver.Chrome(r"C:\Users\HP\Downloads\chromedriver.exe")
time.sleep(2)
driver.maximize_window()

In [16]:
 driver.get("https://paytm.com/")
    #opening website from where we need to fetch data

In [17]:
for i in driver.find_elements(By.XPATH,'/html/body/div[1]/div/section[4]/div/div/div/div[2]'):
    i.click()

In [18]:
driver.get("https://paytm.com/flights/flightSearch/BLR-Bengaluru/PNQ-Pune/1/0/0/E/2023-01-20")

In [20]:
urls=[]
sou=["BLR-Bengaluru","CCU-Kolkata"]# passing source location
location = ["DEL-Delhi","PNQ-Pune","MAA-Chennai","HYD-Hyderabad"] #passing destination 
# passing random date on which flight is schedule
date_list=["2023-02-26","2022-03-07","2023-03-13","2023-03-20","2023-03-29","2023-04-06","2023-03-25","2023-04-01"]
for i in range(0,2):
    for j in range(0,4):
            for k in range(0,8):
                url="https://paytm.com/flights/flightSearch/"+sou[i]+"/"+location[j]+"/1/0/0/E/"+date_list[k] #as url is a string we can manipulate it and make changes according to our needs
                urls.append(url)

In [21]:
len(urls)#checking len of url how many url we have fetched

64

In [22]:
# making list of features i am going to fetch 
name=[]
departure_time=[]
arrival_time=[]
dur=[]
price=[]
stop=[]
place=[]
date=[]
for url in urls:
    driver.get(url)
    time.sleep(5)
    
    for k in driver.find_elements(By.XPATH,'//div[@class="_3H-S _1Eia"]'):
        name.append(k.text)
            
    for k in driver.find_elements(By.XPATH,'//div[@class="_3H-S"]'):
        departure_time.append(k.text)
        
    for i in driver.find_elements(By.XPATH,'//div[@class="_3H-S _1wD5"]'):
        arrival_time.append(i.text.split("\n")[0])
        
    for i in driver.find_elements(By.XPATH,'//div[@class="vY4t"]'):
        dur.append(i.text)
        
    for i in driver.find_elements(By.XPATH,'//div[@class="_1cxG"]'):
        price.append(int(i.text.replace(",","")))
        
    for i in driver.find_elements(By.XPATH,'//div[@class="_7BOG"]'):
        stop.append(i.text.split()[0])
        
    for i in driver.find_elements(By.XPATH,'//div[@class="NqXj"]'):
        place.append(i.text)
        
    for i in range(0,len(driver.find_elements(By.XPATH,'//div[@class="_1cxG"]'))):
               date.append(url.split('/')[11])

In [23]:
source=place[0::2]
destination=place[1::2]

In [24]:
print(len(arrival_time),len(dur),len(price),len(name),len(departure_time),len(source),len(destination),len(date))

6833 6833 6833 6833 6833 6833 6833 6833

In [25]:
# this is the dataframe i have fetched from the above website
flight=pd.DataFrame({"Flight name":name,
                 "Departure_time":departure_time,
                 "Arrival_time":arrival_time,
                 "Price":price,
                 "Source":source,
                 "Destination":destination,
                  "Duration":dur,
                 "No of stop":stop,
                 "Date":date})

In [26]:
flight

,Flight name,Departure_time,Arrival_time,Price,Source,Destination,Duration,No of stop,Date
0,Air Asia,22:40,01:25,4537,Bengaluru,Delhi,2h 45m,Non,2023-02-26
1,Air Asia,06:05,08:55,4537,Bengaluru,Delhi,2h 50m,Non,2023-02-26
2,SpiceJet,19:30,22:15,5235,Bengaluru,Delhi,2h 45m,Non,2023-02-26
3,IndiGo,18:00,20:50,5236,Bengaluru,Delhi,2h 50m,Non,2023-02-26
4,IndiGo,07:00,09:50,5236,Bengaluru,Delhi,2h 50m,Non,2023-02-26
...,...,...,...,...,...,...,...,...,...
6828,IndiGo,04:40,10:45,18914,Kolkata,Hyderabad,6h 5m,1,2023-04-01
6829,IndiGo,14:25,20:35,18914,Kolkata,Hyderabad,6h 10m,1,2023-04-01
6830,IndiGo,10:45,17:20,18914,Kolkata,Hyderabad,6h 35m,1,2023-04-01
6831,IndiGo,10:45,17:55,18914,Kolkata,Hyderabad,7h 10m,1,2023-04-01
6832,IndiGo,12:45,19:05,22556,Kolkata,Hyderabad,6h 20m,1,2023-04-01

In [27]:
flight.to_csv("flight_fare.csv")#saving dataframe to csv format